@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Libre+Franklin:wght@100&family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@700&family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Libre+Franklin:wght@100&family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@700&family=Satisfy&display=swap');



* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

$green: #27ae60;
$black: #130f40;
$white: #fff;
$light-color: #666;
$light-bg: #f7f7f7;
$border: .1rem solid rgba(0, 0, 0, .2);
$box-shadow: 0 1rem 1rem solid rgba(0, 0, 0, .05);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

@mixin font($size){
    font-family: 'Satisfy', cursive;
    font-size: $size;
    color: $green;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }

    &::-webkit-scrollbar-thumb {
        background: $green;
        border-radius: 5rem;
    }
}

section {
    padding: 2rem 9%;
}



/* ======= Header section/Seção de cabeçalho ======= */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $white;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

    .logo {
        font-size: 2.5rem;
        font-weight: bolder;
        color: $black;

        i {
            padding-right: .5rem;
            color: $green;

            
        }
    }

    .navbar {
        a {
            font-size: 1.7rem;
            margin: 0 1rem;
            color: $light-color;

            &:hover {
                color: $green;
            }
        }
    }
}

.icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: $light-bg;
    color: $black;
    border-radius: .5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;

    &:hover {
        color: $white;
        background: $green;
    }
}

#menu-btn {
    display: none;
}

@keyframes fadeUp {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }
}

/* Search Form / Formulario de Pesquisa */
.search-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: $white;
    display: none;
    z-index: 1000;

    &.active {
        display: block;
    }

    form {
        height: 7rem;
        border-bottom: .2rem solid $black;
        width: 100%;
        display: flex;
        align-items: center;
        animation: fadeUp .4s linear;

        input {
            height: 100%;
            width: 100%;
            font-size: 1.7rem;
            color: $black;
            text-transform: none;
            padding-right: 1rem;
        }

        label {
            font-size: 3rem;
            cursor: pointer;
            color: $black;


            &:hover {
                color: $green;
            }
        }
    }
}


/* ======= Shopping-cart section/Seção de carrinho de compras ======= */
.shopping-cart-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: $white;
    overflow-y: scroll;
    padding-bottom: 8rem;
    z-index: 1000;


    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }

    &::-webkit-scrollbar-thumb {
        background: $black;
        border-radius: 5rem;
    }

    .title {
        font-size: 2.5rem;
        padding: 1rem;
        color: $black;
        border-bottom: $border;
        text-align: center;
    }

    .products-container {
        border: $border;
        border-radius: .5rem;


        .box-container {
            @include grid(30rem);
            padding: 1.5rem;

            .box {
                border-radius: .5rem;
                background: $light-bg;
                display: flex;
                align-items: center;
                gap: 1.5rem;
                padding: 2rem;
                position: relative;


                .fa-times {
                    position: absolute;
                    top: .7rem;
                    right: 1rem;
                    font-size: 2rem;
                    cursor: pointer;
                    color: $black;


                    &:hover {
                        color: $green;
                    }
                }

                img {
                    height: 8rem;
                }

                .content {
                    h3 {
                        font-size: 2rem;
                        color: $black;
                    }

                    span {
                        font-size: 1.5rem;
                        color: $light-color;
                    }
                }
            }
        }
    }
}

























/*
Caminho para o gitbash 
cd C:/Users/Daniel_Oliveira/Documents/GitHub/restaurant-food_responsive

SASS
sass --watch ./css/style.scss:./css/style.css

13m
*/